
.custom-header-top-bar{
    background:#13998e;
    padding:4px 0;
}

.custom-header-top-bar div p{
    color:#ffffff;
    margin:4px 0;
}
.custom-header-main-bar{
    background:#38514F;
    padding:12px 0;
}

.custom-header-logo img{
    width:210px;
    height:auto;
    border:1px solid black;
    border-radius:15px;
}
.custom-menu-bar ul li a{
    color: #ffffff;
    text-decoration: none;
}

.custom-menu-bar ul li{
    padding: 0 15px;
}

.custom-menu-bar ul li:last-child{
    padding-right:0;
}

.custom-menu-bar ul li a:hover {
    color: rgb(196, 193, 193);
}

/* menu toggle css */

.navbar-toggler:focus{
 
    box-shadow:none;
}

.custom-mobile-menu{
    position:absolute;
    background:#38514F;
    padding:20px;
    border-top:1px solid gray;
    top:100px;
    right:0;
    width:100%;
}
.custom-mobile-menu ul li{
    padding:6px 0;
}


/* Tab media query */


@media (max-width:768px){

    .custom-header-top-bar{
        display: none;
    }

}